* {
  background-color: hsl(225 60% 75%);
  font-family: Helvetica, Verdana, sans-serif;
  text-align: center;
}

.recipe-list > ul {
  background-color:hsl(10 65% 70%);
}

ul {
  list-style: none;
}

a {
  color: white;
}

.recipe-pic {
  width: 400px;
  height: auto;
}
